{% extends "base/base.html" %}

{% block title %}DETAIL PROFILE VIEW{% endblock title %}

{% block content %}
    <h3> {{ profile.user.first_name }} </h3>

    <a href="{% url 'home:list_profile' %}">Return</a>
{% endblock content %}
