{% extends "base/base.html" %}

{% block title %} NEW ISSUE VIEW {% endblock title %}

{% block content%}
    <form action="" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-outline-success form-control">New Issue</button>
        <a href="{% url 'core:list_i' %}" class="btn btn-outline-warning form-control">
            Cancel
        </a>
    </form>
{% endblock content%}