{% extends "base/base.html" %}

{% block title %}DETAIL ISSUE VIEW{% endblock title %}

{% block content %}
<div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          General Data
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          The Issue name is: <strong>{{ issue.issuename }}</strong> and Its Description is: {{ issue.description }}, the Responsible user is: <code>{{ issue.user }}</code>.
          <strong>Its progress: {{ issue.progress }}</strong>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Date Data
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          The timestamp for the issue is: <strong>{{ issue.timestamp }}.</strong> Its final date is: {{ issue.final_date }} and its days duration:  <code>{{ issue.days_duration }}</code>.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          STATUS DATA
        </button>
      </h2>
      <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          The Status for the issue is: <strong>{{ issue.status }}</strong> Its state is: {{ issue.state }} and the priority is:  <code>{{ issue.priority }}</code>.
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
