{% extends "base/base.html" %}

{% block title %}GOAL LIST VIEW{% endblock title %}

{% block content %}
    <div class="row">
        <div class="col">
            <a href="{% url 'core:create_g' %}" class="btn btn-outline-success form-control">New Goal</a>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
            <th>ID</th>
            <th>NAME</th>
            <th>USER</th>
            <th>SUBGRANTGOAL</th>
            <th>DAYSDURATION</th>
            <th>TIMESTAMP</th>
            <th></th>
            <th>ACTIONS</th>
            <th></th>
        </thead>
        <tbody>
            {% for goal in object_list %}
                <tr>
                    <td>{{ goal.id }}</td>
                    <td>{{ goal.goalname }}</td>
                    <td>{{ goal.user }}</td>
                    <td>{{ goal.subgrantgoal}}</td>
                    <td>{{ goal.days_duration }}</td>
                    <td>{{ goal.timestamp }}</td>
                    <td><a href="{% url 'core:detail_g' goal.pk %}" class="btn btn-outline-info">Detail</a></td>
                    <td><a href="{% url 'core:update_g' goal.pk %}" class="btn btn-outline-warning">Update</a></td>
                    <td><a href="{% url 'core:delete_g' goal.pk %}" class="btn btn-outline-danger">Delete</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}
