{% extends "base/base.html" %}

{% block title %} NEW AREA VIEW {% endblock title %}

{% block content%}
    <form action="" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-outline-success form-control">New Area</button>
        <a href="{% url 'core:list_a' %}" class="btn btn-outline-warning form-control">
            Cancel
        </a>
    </form>
{% endblock content%}