{% extends "base/base.html" %}

{% block title %}DETAIL AREA VIEW{% endblock title %}

{% block content %}
<div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          General Data
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          The Area name is: <strong>{{ object.area_name }}</strong> and Its Description is: {{ object.description }}.
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
