{% extends "base/base.html" %}

{% block title %}GRANTGOAL LIST VIEW{% endblock title %}

{% block content %}
    <div class="row">
        <div class="col">
            <a href="{% url 'core:create_sgg' %}" class="btn btn-outline-success form-control">New SubGrant Goal</a>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
            <th>ID</th>
            <th>NAME</th>
            <th>USER</th>
            <th>GRANTGOAL</th>
            <th>DAYSDUR</th>
            <th>TIMESTAMP</th>
            <th></th>
            <th>ACTIONS</th>
            <th></th>
        </thead>
        <tbody>
            {% for gg in object_list %}
                <tr>
                    <td>{{ gg.id }}</td>
                    <td>{{ gg.sggname }}</td>
                    <td>{{ gg.user }}</td>
                    <td>{{ gg.grantgoal }}</td>
                    <td>{{ gg.days_duration }}</td>
                    <td>{{ gg.timestamp }}</td>
                    <td><a href="{% url 'core:detail_sgg' gg.pk %}" class="btn btn-outline-info">Detail</a></td>
                    <td><a href="{% url 'core:update_sgg' gg.pk %}" class="btn btn-outline-warning">Update</a></td>
                    <td><a href="{% url 'core:delete_sgg' gg.pk %}" class="btn btn-outline-danger">Delete</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}
